
.form-register{
    
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 4rem;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color:#fff;
box-shadow: 7px 13px 37px #000;
}
@media(min-width:768px){
    .form-register{
      
        width: 400px;
        
          
    }
   }
.form-register h4{
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: #fff;
}
button{
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #000;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #B06AB3;
    padding-top: 20px;
}