.color{
    margin-top: 1rem;
    height: 100px;
    width: 100%;
    background-color: #434b34;
}
/*INICIA CONTENIDO-PRINCIPAL*/
.contenidos-principal{
    display: flex;
    flex-wrap: wrap; /*Envolverse a si mismo solo va a estar en el mismo contenedor*/
}
.blogs,
.curs{
    flex: 0 0 100%;
}
.curs{
    order: -1;
}
@media (min-width:768px){
.contenidos-principal{
    justify-content: space-between; /*Separar contenedores*/
}
.contenido-blogs h3{
    color: #4f6130;
    font-size: 1.9rem;
    line-height: 1.2;
    text-align:left;
}
.contenido-blogs p{
    font-size: 1.4rem;
}

.blogs{
    flex-basis: 33.3%; /*Contenido principal*/
    margin-top: 2rem;
}
.curs{
    flex-basis: calc(66.6% - 4rem); /*calcular el espacio del contenido y el -4 rem hace que no se desborde y se escriba como debe*/
    order: 2; /*en lugar de que vayan hacia abajo va vertical el contenido*/
}
}
/*Opcional*/
.entrada-blogs{
    margin-bottom: 2rem;
    border-bottom: 1px solid #e1e1e1;/*Borde de abajo una pequeña linea entre cajas*/
}
.entrada-blogs:last-of-type{
    border: none;
}

.curs-lista{
    padding: 0;
    list-style: none;
}
/*********************************************/
.contenidoss-principal{
    display: flex;
    flex-wrap: wrap; /*Envolverse a si mismo solo va a estar en el mismo contenedor*/
    margin-top: 1rem;
}
.bloss,
.curse{
    flex: 0 0 100%;
}
.curse{
    order: -1;
}
@media (min-width:768px){
.contenidoss-principal{
    justify-content: space-between; /*Separar contenedores*/
}

.contenido-bloss p{
    font-size: 1.4rem;
}
.contenido-bloss img{
    border-radius: 16px;
}

.bloss{
    flex-basis: 33.3%; /*Contenido principal*/
    margin-top: 2rem;
}
.curse{
    flex-basis: calc(66.6% - 4rem); /*calcular el espacio del contenido y el -4 rem hace que no se desborde y se escriba como debe*/
    order: 2; /*en lugar de que vayan hacia abajo va vertical el contenido*/
}
}
/*Opcional*/
.entrada-bloss{
    margin-bottom: 2rem;
    border-bottom: 1px solid #e1e1e1;/*Borde de abajo una pequeña linea entre cajas*/
}
.entrada-bloss:last-of-type{
    border: none;
}

.curse-lista{
    padding: 0;
    list-style: none;
}
.contenidos-anuncios h3 {
    font-size: 2.3rem;
color: #2a4e2a;
}
.contenidos-anuncios p{
    font-size: 1.8rem;
}
/*********************************************/
.contenidss-principal{
    display: flex;
    flex-wrap: wrap; /*Envolverse a si mismo solo va a estar en el mismo contenedor*/
    padding: 3rem 0 3rem;
}
.blss,
.cuse{
    flex: 0 0 100%;
}
.cuse{
    order: -1;
}
@media (min-width:768px){
.contenidss-principal{
    justify-content: space-between; /*Separar contenedores*/
}


.contenidos-anuncis img{
    border-radius: 16px;
    filter: brightness(50%);
}


.blss{
    flex-basis: 66.6%; /*Contenido principal*/
    margin-top: 2rem;
}
.cuse{
    flex-basis: calc(33.3% - 4rem); /*calcular el espacio del contenido y el -4 rem hace que no se desborde y se escriba como debe*/
    order: 2; /*en lugar de que vayan hacia abajo va vertical el contenido*/
}
}
/*Opcional*/
.entrada-blss{
    
    margin-bottom: 2rem;
    border-bottom: 1px solid #e1e1e1;/*Borde de abajo una pequeña linea entre cajas*/
}
.entrada-blss:last-of-type{
    border: none;
}

.cuse-lista{
    padding: 0;
    list-style: none;
}
.contenido-blss h3 {
    font-size: 2.3rem;
color: #281919;
}
.contenido-blss p{
    font-size: 1.8rem;
}
.contenido-blss li{
    font-size: 1.8rem;
}

/*--------------------------------------------------------------------------*/

.cursu{
    padding: 3rem 0;
    border-bottom: 1px solid #e1e1e1;
}

.cursu:last-of-type{ /*Para quitar el ultimo elemento*/
    border: none;
}
.cursu p{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 400;
font-size: 2rem;
}
.cursu p span {
    font-weight: 700;
}

.video-link img{
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 10px;
}
.video-link h3{
opacity: 1;
position: absolute;
color:#fff; 
background-color: rgba(0, 0,0,0.7);
padding: 10px;
border-radius: 10px;
margin-top: 10px;
}
    /*ICONOS*/
    
    @media (min-width:768px){
        .iconos-nos{
           
            display: flex;
            justify-content: space-between;
       
        }
        }
        .iconos{
            
            text-align: center;
            
        }
        .iconos p{
            font-size: 1.2rem;
        }
        .iconos img{
            width: 15rem;
        }
        @media (min-width:768px) {
            .iconos{
                flex-basis: calc(33.3% - 1rem);
            }
        }
        .iconos a{
            
            color: #4f6130;
            font-size: 2rem;
            line-height: 1.2;
            text-align: center;
            text-decoration: none;
        }
        .anunciu {
            flex-shrink: 0;
            
            border: 1px solid #b5b5b5;
            background-color: #f5f5f5;
            margin-bottom: 2rem;
        }
        .anunciu p{
            font-size: 1.8rem;
        }
        .anunciu h3{
            font-size: 2.5rem;
        }
        @media(min-width:768px){
            .anunciu {
                flex-basis: calc(33.3% - 1rem);
            }
        }
        .contenido-anuncios p{
            font-size: 1.8rem;
        }
        .contenido-anuncios h3{
            
                color: #281919;
                font-size: 2.3rem;
                line-height: 1.2;
                text-align: center;
            
        }
      
        /*CONTACTO HOME*/
.imagen-contacto {
    margin-top: 10rem;
    background: linear-gradient(rgba(40, 53, 32, 0.755), rgba(46, 38, 27, 0.75)), url(../img/sena.jpg);
    height: 40rem;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    }
    
    .contenido-contacto{
        flex:0 0 95%;
        color: #fff;
    }
    .contenido-contacto p{
        font-size: 1.8rem;
    }
    
  

    .barra {
        padding: 50px 0;
        background: #741d51; /* Old browsers */
        background: -moz-linear-gradient(left, #1d311f 0%, #3f4a80 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #18441d 0%,#e44e52 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #417e48 0%,#bd7731 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
    }
    
    .barra p {
        margin:0;
        color: white;
    }
    
    