html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before, *:after{
box-sizing: inherit;
}

img{
    max-width: 100%;
}
.contenedor {
    
    max-width: 120rem; /*maxima anchura de un elemento*/
    width: 95%; /*espacio que hay*/
    margin: 0 auto; /*margen del contenedor*/
    
   
}
.contenedor_seccion{
    margin-top: 5rem;
}
h1, 
h2, 
h3, 
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 3.2rem;
}
.site_header h2{
    color: #857d49;
    font-size: 2.8rem;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 14rem;
}
h2{
    font-size: 3rem;
    line-height: 2.4;
    text-align: center;   
}
.contenedor-footer h3 {
    color: #bba63d;
    font-size: 2.3rem;
    line-height: 1.8;
    text-align: center;
}
 h3 {
    color: #43603e;
    font-size: 2.3rem;
    line-height: 1.2;
    text-align: center;
}
.icono h3{
    color: #000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6rem;
    text-align: center;
}
/*UTILIDADES*/
.just{
    text-align: justify;
}
.fw-300{
    font-weight: 300;
    text-align: center;
    }
    .d-block{
        display: block ! important;
    }
    .contenido-centrado{
        max-width: 800px;
    }

/*HEADER*/
.texto-header{
    color: #fff;
    text-align: center;
    margin-top: 3rem; /*margen arriba*/
}
.texto-header img{
    width: 150px;
}
@media (min-width:768px){
    .texto-header{
        margin-top: 10rem;
    }
}
.texto-header p {
    font-size: 2rem;
}
.texto-header h2{
    font-size: 3.3rem;
  color:#a2a392;
}
.site_header{
    padding: 1rem 0 3rem 0;
    background-color: #e1e1e1;
}
.site_header.inicio{
background: linear-gradient(rgba(30, 30, 30, 0.997), rgba(84, 67, 41, 0.827)), url(../img/baner.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    min-height: 20rem;
}
.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    
}

*{
    list-style: none;
    text-decoration: none;
}
.barrita{
    list-style: none;
    text-decoration: none;
    background: #323030;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.2s;
    padding: 2px 15px;
    z-index: 10;
    opacity: 0.8;
}
.logo{
    margin-top: 1rem;
    font-size: 28px;
    font-weight: bold;
    color: #fff
}
.logo img{
    width: 100%;
    height: 6rem;
    
}
.logo span{
    color: #cbb41d;
}



/* NAVEGACION */

  
    .mobile{
        display: none;
    }
    .navegacion a{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .navegacion ul{
        display: flex;
    }
    .navegacion ul li a{
        text-decoration: none;
        display: block;
        color: #fff;
        font-size: 18px;
        padding: 10px 25px;
        border-radius: 15px;
        transition: 0.2s;
        margin: 0 5px;
        }
  .navegacion ul li a:hover{
    color: #212127;
    background-color: #ffe00e;
  }
    .navegacion ul li a.active{
        color: #212127;
        background-color: #ffdf0e70;
            }

 @media (max-width:900px){
    .barrita{
        padding: 0px 30px;
    }
    .mobile{
        display: block;
        cursor: pointer;
    }
    .mobile .line{
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0px;
    }
    .navegacion {
        height: 0px;
        position: absolute;
        top:80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #2e2f34;
        transition: 0.5s;
        overflow: hidden;
    }
    .navegacion.active{
        height: 450px;
    }
    .navegacion ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;

    }
    .navegacion.active ul{
        opacity: 1;
    }
    .navegacion ul li a{
        margin-bottom: 20px;
    }
 

 }
   /*IMAGEN CONTACTO*/
       .imagen-contacto {
        margin-top: 10rem;
        background: linear-gradient(rgba(70, 65, 65, 0.755), rgba(46, 38, 27, 0.75)), url(../img/proyecto3.png);
    background-position: center;
        height: 40rem;
        background-position: center center;
        background-size: cover;
        display: flex;
        align-items: center;
        }
        
        .contenido-contacto{
            flex:0 0 95%;
            color: #fff;
        }
        .contenido-contacto p {
            font-size: 1.8rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .contenido-contacto h2 span{
            font-weight: 800;
        }
        .contenido-contacto li {
            font-size: 1.8rem;
            line-height: 1.5rem;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        .contenido-contacto h2{
            font-size: 3rem;
            text-align: left;
        }
/*CARRUSEL*/
 
 
       .wrapper ul{
        display: flex;
        padding: 0;
        width: 400%;
        animation: slide 20s infinite alternate ease-in-out;

       }
       .wrapper li{
    list-style: none;
    width: 100%;
       }
    
       .wrapper img{
        width: 100%;
       height: 100%;
       }
      
       @media(min-width:768px){
        .wrapper{
          
            width: 900px;
            height: 600px;
            margin: 20px auto 0;
            overflow: hidden;
              
        }
       }
    
       @keyframes slide{
        0% {margin-left: 0;}
        20% {margin-left: 0;}
    
        25% {margin-left: -100%;}
        45% {margin-left: -100%;}

        50% {margin-left: -200%;}
        70% {margin-left: -200%;}
    
        75% {margin-left: -300%;}
        100% {margin-left: -300%;}
       }

  

    /*ICONOS*/
    
@media (min-width:768px){
    .iconos-nosotros{
        display: flex;
        justify-content: space-between;
   height: 5rem;
    }
    }
    .icono{
        
        text-align: center;
        
    }
    .icono img{
        width: 5rem;
    }
    .icono p{
        font-size: 1.2rem;
    }
    @media (min-width:768px) {
        .icono{
            flex-basis: calc(20% - 1rem);
        }
    }
    .icono a{
        
        color: #000;
        font-size: 2rem;
        line-height: 1;
        text-align: center;
        text-decoration: none;
    }

/*BOTONES*/
.boton{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    text-align: center;
    border: none;
    display: inline-block;
    display: block;
    flex: 0 0 100%;
}
@media (min-width: 768px){
    .boton{
        display: inline-block;
        flex: 0 0 100%; /* CRECIMIENTO DEL CONTENIDO DEL BOTON Y QUE PERMITE MOVIMIENTO */
    }
}
.boton:hover{
    cursor: pointer;
}
.boton-amarillo{
    background-color: #6eaa7d;
}
    /*INICIA CONTENIDO-PRINCIPAL*/
.contenido-principal{
    display: flex;
    flex-wrap: wrap; /*Envolverse a si mismo solo va a estar en el mismo contenedor*/
}
.blog,
.cursos{
    flex: 0 0 100%;
}
.cursos{
    order: -1;
}
.contenido-blog h3{
    color: #000;
    font-size: 2rem ;
text-align: left;

}
.contenido-blog h3::after{
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
    margin-top: 10px;
}
.contenido-blog p{
    font-size: 1.8rem;
}
@media (min-width:768px){
.contenido-principal{
    justify-content: space-between; /*Separar contenedores*/
}
.blog{
    flex-basis: 66.6%; /*Contenido principal*/
}
.cursos{
    margin-top: 5rem;
    flex-basis: calc(33.3% - 4rem); /*calcular el espacio del contenido y el -4 rem hace que no se desborde y se escriba como debe*/
    order: 2; /*en lugar de que vayan hacia abajo va vertical el contenido*/
}
}
   
.cursos-lista{
    padding: 0;
    list-style: none;
}
.curso{
    padding: 3rem 0;
    border-bottom: 1px solid #e1e1e1;
}
.cursos h4{
    font-size: 2.8rem;
    text-align: center;
}
.curso:last-of-type{ /*Para quitar el ultimo elemento*/
    border: none;
}
.curso p{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 200;
font-size: 1.8rem;
}
.curso p span {
    font-weight: 500;
}

/*ANUNCIOS*/

@media (min-width:768px){
    .contenedor-anuncios{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.anuncio {
    flex-shrink: 0;
    width: 30rem;
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
    margin-bottom: 2rem;
}
.anuncio p{
    font-size: 1.8rem;
}
.anuncio h3{
    font-size: 2.5rem;
}
@media(min-width:768px){
    .anuncio .anunciou{
        flex-basis: calc(33.3% - 1rem);
    }
    
}
@media (min-width:768px){
    .contenedor-anuncioss{
        width: 100%;
        display: flex;
        max-width: 1100px;
    }
}

.anunciou{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background:#fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
    cursor: default;
    transition: all 400ms ease;
}
.anunciou:hover{
    box-shadow: 5px 5px 20px rgba(0,0, 0,4);
    transform: translateY(-3);
}
.anuncio:hover{
    box-shadow: 5px 5px 20px rgba(0,0, 0,4);
    transform: translateY(-3);
}
.anunciou img{
    width: 100%;
    height: 210px;
    margin-bottom: 2rem;
}
.anunciou p{
    line-height: 1.5;
    font-size: 1.5rem;
    color: #6a6a6a;
}
.contenido-anuncio{
   
    padding: 2rem;
    text-align: center;
}
.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0;
}
.precio{
    color: #71B100;
    font-weight: 700;
}
.iconos-caracteristicas{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
}
.iconos-caracteristicas li {
    display: flex;
}
.iconos-caracteristicas li img {
    margin-right: 2rem;
}

.video{
    padding-top: 4rem;
    margin: 1rem 38rem;
   
}
/*footer*/
.site-footer{
    background-color: #191f27;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    margin-top: 40px;
    color: #fff;
    
   
}
.contenedor-footer {
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;
    padding: 1rem 0;
    text-align: center;
}
@media (min-width:768px){
    .contenedor-footer {
        display: flex;
        justify-content: center;
    }
}
.site-footer h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}


.site-footer p{
 max-width: 500px;
 margin: 10px auto;
 line-height: 28px;
 font-size: 14px;
}

.socials{
    list-style: none;
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 2.5rem;
    transition: color .4s ease  ;
}
.socials a:hover i{
    color:aqua;
}
/*FOOTER*/
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
